/vendor
/node_modules
/.env
/.phpunit.result.cache
/storage/*.key
/storage/app/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/.vscode
/.idea
/.env.*.local
.DS_Store
/public/hot
/public/storage
/storage/debugbar/*
/bootstrap/cache/*
/config
/config/app.php
/.phpunit.cache
/node_modules

/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/config
/.env
.evn
.env.backup
.env.production
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
/package-lock.json
yarn-error.log
yarn.lock
package-lock.log
/.idea
/.vscode

/public/css
/public/js
/public/mix-manifest.json
# But not these files...
/public/assets/*
/public/assets/js
/public/assets/css
/public/assets/vendor
/public/assets.zip

!storage/fonts/Helvetica-Bold.afm.json
!storage/fonts/DejaVuSans-Bold.ufm.json
/.cache
