/vendor
/node_modules
.env
.env.*.local
.phpunit.result.cache
.phpunit.cache
/storage/*.key
/storage/app/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/debugbar/*
/bootstrap/cache/*
.DS_Store

/public/hot
/public/storage
/public/build
/public/css
/public/js
/public/mix-manifest.json

# Allow specific assets in the public directory
!public/assets/*
!public/assets/js
!public/assets/css
!public/assets/vendor
!public/assets.zip

/storage/fonts/Helvetica-Bold.afm.json
/storage/fonts/DejaVuSans-Bold.ufm.json

/.vscode
/.idea
/cache
docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
yarn.lock
