/vendor
/node_modules
/.env
/.phpunit.result.cache
/storage/*.key
/storage/app/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/.vscode
/.idea
/.env.*.local
.DS_Store
/public/hot
/public/storage
/storage/debugbar/*
/bootstrap/cache/*
